/* ---------
    FORMAT
--------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------
    COMMON
--------- */
.container {
    max-width: 1100px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* ---------
    TYPOGRAPHY
--------- */
body {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #E53170;
    margin: 40px 0 60px;
}

.col-assets {
    color: #fff;
}

/* ---------
    MAIN
--------- */
.col-assets {
    width: calc(100% / 3 - 30px);
    height: 100px;
    margin: 50px 15px 0;
    float: left;
    background-color: #0f0e17;
    /* box-shadow: 5px 5px #d8d8d7; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div > img {
    width: 100px;
    height: 100px;
    float: left;

}

.images-data {
    float: left;
    width: calc(100% - 100px);
    padding: 15px;
}

a {
    text-decoration: none;
    color: #00b5f4;
}

small {
    display: block;
    padding: 10px 0;
}